body {
    max-width: 1333px;
    margin: auto;
    padding-bottom: 20px;
}

header {
    padding-left: 10px;
    padding-right: 10px;
}

main {
    padding: 10px;
}

/* Card */

.card-img-top {
    max-width: 240px;
    height: 240px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.card {
    min-width: 240px;
}

.card-title {
    height: 40px;
    overflow: hidden;
}

.card-title a {
    text-decoration: none;
}

.card-text {
    height: 110px;
    overflow: hidden;
}

/* listing */

.listing-show-image {
    max-width: 498x;
    max-height: 498px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.wrapper img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.wrapper {
    height: 100%;
    vertical-align: middle;
}

/* Comments */

.img-placeholder {
  height: 60px;
  width: 60px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}