{% extends "auctions/layout.html" %}

{% block title %}Create listing{% endblock title %}

{% block body %}
    <h2>Create listing</h2>
    <form method="post">
    {% csrf_token %}
    {% for part in form %}
    {% if part.label == 'Starting bid' %}
    <div><label class="form-label" for="{{ part.id_for_label }}"> {{ part.label }}: </label>
        <div class="input-group"><div class="input-group-text">$</div> {{ part }}</div></div>
    <div>{{ part.errors }}</div>
    {% else %}
    <div><label class="form-label" for="{{ part.id_for_label }}"> {{ part.label }}: </label><div class="new-entry-form-textarea">{{ part }}</div></div>
    <div>{{ part.errors }}</div>
    {% endif %}
    {% endfor %}
    <div>{{ form.non_field_errors }}</div>
        <button class="btn btn-primary mt-3" type="submit">Submit</button>
    </form>
{% endblock %}